@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.all {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
.goal {
  padding-left: 20px;
}
.main {
  text-align: center;
}
body {
  background-color: #eef5ff;
  font-family: system-ui;
}
.box {
  background-color: #eef5ff;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 30px;
}

.pic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.pic {
  display: flex;
  justify-content: end;
  align-items: center;
}
.name {
  padding-left: 30px;
  border-left: 1px solid #000;
}
.name h1 {
  font-weight: 300;
  font-size: xxx-large;
  margin: 0px 0 5px;
}
.name h2 {
  font-weight: 250;
  font-size: x-large;
  margin: 0px 0 5px;
}
.name .role {
  font-size: large;
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}
.edu {
  display: block;
  list-style-type: disc;
}
.skill {
  list-style-type: circle;
}
#act {
  list-style-type: square;
}
.objective {
  background-color: #aad7d9;
  padding: 10px;
}
.education {
  background-color: #aad7d9;
  padding: 10px;
}
.skills {
  background-color: #aad7d9;
  padding: 10px;
}
.activities {
  background-color: #aad7d9;
  padding: 10px;
}
.icon {
  position: absolute;
  padding-right: 50px;
  color: #000000;
}
address {
  margin-left: 30px;
}
.home {
  margin-left: 30px;
}
#footer {
  background-color: #b4d4ff;
  padding: 2rem;
  padding-bottom: 4rem;
}

ul li {
  list-style: none;
  margin: 0 1rem;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #1f1f38;
  transition: all 0.5s;
}

ul li a:hover {
  color: rgb(255, 98, 98);
}
.font-awesome {
  margin: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-awesome li i {
  background-color: #1f1f38;
  padding: 0.6rem;
  border: 1px solid #1f1f38;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.font-awesome li i:hover {
  border: 1px solid #1f1f38;
  border-radius: 0.5rem;
  background: transparent;
  color: #1f1f38;
}

.skills-container {
  margin-top: 20px;
}

.skill {
  margin-bottom: 20px;
  margin-left: 20px;
}

.progress {
  height: 33px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  width: 500%;
}

.progress-bar {
  background-color: #29a6ff;
  color: #fff;
  text-align: center;
  line-height: 20px;
  transition: width 0.6s ease;
  padding-left: 20px;
}

.skill {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.progress {
  height: 20px;
  background-color: #989090;
  border-radius: 10px;
  overflow: hidden;
}

h3 {
  margin-left: 10px;
}
.skill-info {
  margin-left: 20px;
}

.progress {
  margin-top: 10px;
}
.intern {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#downloadButton {
  float: right;
  font-size: 33px;
  text-decoration: none;
  border: none;
  margin-top: -70px;
  margin-right: 70px;
  background-color: #eef5ff;
  cursor: pointer;
}
.downloadButton {
  float: right;
  font-size: 18px;
  text-decoration: none;
  border: none;
  margin-top: -20px;
  margin-right: 30px;
  background-color: #eef5ff;
}
